# ip address of Axis camera
AXIS_CAMERA_HOST=
# Credentials for an "operator" user on the Axis camera
AXIS_CAMERA_USER=
AXIS_CAMERA_PASSWORD=

# Optional, for scp_file.sh script
WEEWX_HOST=
WEEWX_USER=
WEEWX_USER_DIR=